In [1]:
import pandas as pd
import numpy as np

In [2]:
train = pd.read_csv("../input/train.csv", chunksize=100000)

train_chunk_list = []  

for data_chunk in train:  
    sample_data_in_chunk = data_chunk.sample(frac=0.05, replace=True, random_state=1)
    train_chunk_list.append(sample_data_in_chunk)
    
train_data = pd.concat(train_chunk_list)
test_data =  pd.read_csv("../input/example_test.csv")

In [3]:
train_data.head(2)

,date,weight,resp_1,resp_2,resp_3,resp_4,resp,feature_0,feature_1,feature_2,...,feature_121,feature_122,feature_123,feature_124,feature_125,feature_126,feature_127,feature_128,feature_129,ts_id
98539,16,0.091721,-0.003972,-0.006828,-0.009258,-0.015301,-0.014156,-1,-3.172026,-3.093182,...,-0.643276,-0.740097,-0.632161,-0.627341,-0.861203,-0.84956,-0.41783,-0.692193,-0.263673,98539
77708,12,0.000000,0.006870,0.008509,0.007006,0.017727,0.025361,1,-1.378297,-2.075052,...,11.504593,2.082452,4.158642,3.866779,9.822992,3.13497,5.12643,2.425168,4.145903,77708

In [4]:
train_data = train_data[train_data['weight']!=0]

In [5]:
train_data['action'] = train_data['resp'].apply(lambda x:x>0).astype(int)

In [6]:
selected_columns_train = [col for col in list(train_data.columns) if 'feature' in col or
                        'action' in col or 'ts_id' in col]

In [7]:
train_data = train_data[selected_columns_train]

In [8]:
features_with_na = [feature for feature in train_data.columns if train_data[feature].isna().sum()>0]

In [9]:
train_data[features_with_na] = train_data[features_with_na].fillna(train_data[features_with_na].mean())

In [10]:
selected_columns_test =  [col for col in list(train_data.columns) if 'feature' in col or 'ts_id' in col]

In [11]:
test_data = test_data[selected_columns_test]

In [12]:
features_with_na_test = [feature for feature in test_data.columns if test_data[feature].isna().sum()>0]

In [13]:
test_data[features_with_na_test] = test_data[features_with_na_test].fillna(test_data[features_with_na_test].mean())

In [14]:
train_data.to_csv('../output/cleaned_train_data.csv', index=None)
test_data.to_csv('../output/cleaned_test_data.csv', index=None)